body{
    background-color: #183870;
}
.NavBar{
    background-color: #1f262b;
}
.imgAva{
    width: 25em;
    height: 25em;
    border-radius: 200px;
}
.linknav{
 transition: transform 0.5s;
}
.imgAva{
     transition: transform 0.5s;
}
.footertext{
    transition: transform 0.5s;
}
.footertext:hover{
    transform: scale(1.3);
}
.linknav:hover{
    transform: scale(1.4);
    background-color: #2b353b;
    border-radius: 50px;
}
.imgAva:hover{
    transform: scale(1.2);
}
.BoxText{
    transition: transform 0.5s;
}
.BoxText:hover{
    transform: scale(1.1);
    background-color: #1f262b;
    border-radius: 20px;
}
